
  .fullContainer {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;

  
    @media (min-width: 540px) {
      min-height: calc(100vh - 82px);
      margin-bottom: auto;
    }
  }
  .login-align{
    text-align-last: center;
    border-color: slategrey;
    border: ridge;
    padding: 25px;
  }

  .login{
    width: 100%;
}

.login-space{
  margin:10px;
}

.Col-Login{
  width:138%;
}