.with-background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #071063; 
    padding: 20px; 
}

.sign-link{
    font-weight: 500;
    color: slategrey;
    font-size: x-small;
}

.form-login{
    align-items: center;
}

.form-control{
    height:55px;
    width: 80%;
    border-radius: 10px; 
}

.sign_head{
    font-size: 20px;
    color: slategrey;
}